h1{
    color: #614124; 
    font-family: 'Merriweather', serif;

    text-align: center;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;     */
}

header{
    background-color: #E8C07D;
    border-radius: 10%;
    /* width:50vw;
    height:20vw; */
    width: 30vw;
    height:5vw;
}

body{
    background-color: #CDDEC1;
}

#entering-name{
    background-color: #9FC088;
}